header {
  box-shadow: 0 2px 2px -2px rgb(0, 0, 0);
}

.navbar {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  .logo {
    width: 8rem;
    margin: 0.5rem 0;
  }

  .nav-items {
    &-pages,
    &-account {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      font-size: 1.8rem;
      align-items: center;
      list-style-type: none;
      cursor: pointer;
    }
    &-account {
      gap: 3rem;   
    }
  }
}

.hidden {
  display: none;
}

.profile_image {
  width: 3rem;
  border-radius: 100rem;
}


.user_image {
  position: relative;
  .modal_image {
    position: absolute;
    top: 6rem;
    right: 0;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    transition: 0.5s ease;
    z-index: 99;
    background-color: white;
    &_displayName {
      font-size: 1.4rem;
      font-weight: bold;
    }
    &_email {
      font-size: 1.3rem;
      color: rgb(32, 32, 32);
    }
    
    &_bars{
      margin: 0.5rem 0;
      height: 0.1rem;
      width: 100%;
      background-color: rgb(32, 32, 32);
    }
    &_account,
    &_signOut {
      display: flex;
      justify-items: center;
      font-size: 1.4rem;
      gap: 1rem;
    }
  }
}

.cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .cart-container-items{ 
    background: $color-primary;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    left: 1.1rem;
    top: 1rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
    color: white;
    font-weight: bold;
  }

} 

.dropdown-div {
  z-index: 199;
  position: fixed;
  padding: 4rem;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50rem;
  background: white;
  
  .dropdown-div-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  .dropdown-div-cartItems{
    margin: 1rem 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 80%;
    overflow-y: scroll;
  }
  .dropdown-div-cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
  }
  .dropdown-div-cartItem{
    display: grid;
    grid-template-columns: 30fr 50fr 20fr;
    height: 15rem;
    width: 100%;
    margin-top: 1rem;

    .dropdown-div-cartItem-div-image{
      background-color: #fff;
      height: 14rem;
      margin: auto 1rem;
      padding: 1rem;
      width: 100%;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-radius: 1rem;
    }
    .dropdown-div-cartItem-image{
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: 1rem;
    }

    .dropdown-div-cartItem-text{
      margin: 2rem;
      font-size: 1.1rem;
      text-align: left;
      position: relative;
    }

    .dropdown-div-cartItem-close{
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  }
  .dropdown-div-subtotal{
    margin-top: 1rem;
    border-top: 2px dashed black;
    display: flex;
    justify-content: space-between;
    .dropdown-div-subtotal-title, .dropdown-div-subtotal-btn{
      margin-top: 1rem;
      
    }
  }
}